<!--XML-->
    <launch>
     <node namespace="stereo" pkg="uvc_camera" exec="tara_node" name="uvc_camera" output="screen">
      <param name="width" value="640" />
      <param name="height" value="480" />
      <param name="fps" value="30" />
      <param name="frame" value="webcam" />
      <param name="device" value="/dev/video0" />
      <param name="exposureValue" value="1" />
      <param name="cameraLeft_info_url" value="file://${ROS_HOME}/camera_info/cameraLeft.yaml" />
      <param name="cameraRight_info_url" value="file://${ROS_HOME}/camera_info/cameraRight.yaml" />
     </node>
    </launch>
